{% extends 'index.html' %}
{% load i18n %}

{% block content %}
    <div id="contact" class="appointment">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>{% trans 'Password Reset Complete' %}</h2>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <p>{% trans 'Your password has been reset successfully. You can now log in with your new password.' %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
