{% extends 'index.html' %}
{% load i18n %}

{% block content %}
    <style>
        .password-reset-form label {
            float: left;
            clear: both;
            width: 20%;
            margin-top: 7px;
        }

        .password-reset-form input[type="email"] {
            width: 60%;
        }

        .password-reset-form .form-text {
            margin-left: 30%;
        }
    </style>

    <div id="contact" class="appointment">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>{% trans 'Password Reset' %}</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <form id="request" class="main_form password-reset-form" method="post">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="id_email">{% trans 'Email Address:' %}</label>
                                    <input type="email" name="email" id="id_email" class="form-control" required>
                                    <small class="form-text text-danger">{{ form.email.errors }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn" type="submit">{% trans 'Send' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
