{% extends 'index.html' %}
{% load i18n %}

{% block content %}
    <style>
        .login-form label {
            float: left;
            clear: both;
            width: 20%;
            margin-top: 7px;
        }
        .login-form input[type="text"],
        .login-form input[type="password"] {
            width: 60%;
        }
        .login-form .form-text {
            margin-left: 30%;
        }
    </style>

    <div id="contact" class="appointment">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>{% trans 'Login' %}</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <form id="request" class="main_form login-form" method="post">
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }}
                                        {{ field }}
                                        <small class="form-text text-danger">{{ field.errors }}</small>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn" type="submit">{% trans 'Login' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}