<div class="col-md-9 col-sm-9">
    <div class="navbar-area">
        <nav class="site-navbar">
            <ul>
                <li><a href="{% url 'main:index' %}#services">Services</a></li>
                <li><a href="{% url 'main:index' %}#prices">Price</a></li>
                <li><a href="{% url 'main:index' %}#about-anchor">About</a></li>
                <li><a href="{% url 'main:index' %}#blog">Blog</a></li>
                <li><a href="{% url 'main:index' %}#contact-anchor">Contact</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/profile/" style="font-weight: bold;">Profile</a></li>
                    <li><a href="/logout/" style="font-weight: bold;">Logout</a></li>
                {% else %}
                    <li><a href="/login/" style="font-weight: bold;">Login</a></li>
                    <li><a href="/registration/" style="font-weight: bold;">Sign up</a></li>
                {% endif %}
            </ul>
            <button class="nav-toggler">
                <span></span>
            </button>
        </nav>
    </div>
</div>