<a id="about-anchor"></a>
<div style="margin-bottom: 70px;"></div>
<div id="about" class="about">
    {% for item in about %}
        <div class="container_width">
            <div class="row d_flex grig">
                <div class="col-md-6">
                    <div class="about_img">
                        <figure><img src="{{ item.image.url }}" alt="#"/></figure>
                    </div>
                </div>
                <div class="col-md-6 order">
                    <div class="titlepage text_align_left">
                        <h2>{{ item.name }}</h2>
                        <p>{{ item.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
