<a id="contact-anchor"></a>
<div style="margin-bottom: 70px;"></div>
<div id="contact" class="appointment">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>{{ category_contact.title }}</h2>
                    <p>{{ category_contact.description }}</p>
                </div>
            </div>
            <div class="col-md-12">

                {% include 'includes/messages.html' with form_type="contact" %}

                <form id="request" class="main_form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {% for field in contact_form %}
                                {% if field.name != 'message' %}
                                    <div class="form-group">
                                        {{ field }}
                                        <small class="form-text text-danger">{{ field.errors }}</small>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ contact_form.message }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" name="submit_contact_form" class="send_btn">Send Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>