<div id="contact" class="appointment">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>Contact Us</h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu</p>
                </div>
            </div>
            <div class="col-md-12">

                {% include 'includes/messages.html' %}

                <form id="request" class="main_form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.name }}
                                <small class="form-text text-danger">{{ form.name.errors }}</small>
                            </div>
                            <div class="form-group">
                                {{ form.email }}
                                <small class="form-text text-danger">{{ form.phone.errors }}</small>
                            </div>
                            <div class="form-group">
                                {{ form.phone }}
                                <small class="form-text text-danger">{{ form.email.errors }}</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.message }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="send_btn">Send Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>