{% load i18n %}
<div id=session class="appointment">

        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="titlepage text_align_center">
                        <h2>{{  category_session.title }}</h2>
                        <p>{{ category_session.description }}</p>
                    </div>
                </div>
                <div class="col-md-12">

                    {% include 'includes/messages.html' with form_type="session" %}

                    <form id="request" class="main_form" method="post">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in session_form %}
                                {% if field.name != 'procedure' %}
                                    <div class="col-md-6">
                                        {{ field }}
                                        <small class="form-text text-danger">{{ field.errors }}</small>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="col-md-6 offset-md-3 mb-5">
                                <div class="form-group text-center">
                                    {{ session_form.procedure }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" name="submit_session_form"
                                        class="send_btn">{% trans 'Book Now' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
